body {
    background-color: sandybrown;
    padding: 15px;
}

article {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: orange;
    width: 20%;
}
.radio-option {
    display: flex;
    align-items: center;
}

    .radio-option input {
        margin-right: 10px;
    }