body
{
    background-color: sandybrown;
    padding: 15px;
}
.joku
{
    width: 350px;
    padding: 20px;
    margin: 15px;
    float:left;
}
#ykonen {
    background-color: green;
}
#kakone {
    background-color: aquamarine;
}